<?xml version="1.0"?>
<robot name="bicycle" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- TODO: Calculate the inertia matrix -->
  <!-- TODO: Make sure joints type are valid for simulation (Gazebo) -->
  <!-- TODO: Simpler collision -->

  <!-- ========================MACROS======================== -->
  <!-- PROPERTIES -->
  <xacro:include filename="properties.xacro" />

  <!-- ELEMENTS -->
  <xacro:include filename="elements.xacro" />

  <!-- ========================LINKS======================== -->
  <xacro:include filename="links.xacro" />


  <!-- ========================JOINTS======================== -->
  <xacro:include filename="joints.xacro" />


  <!-- ========================GAZEBO======================== -->
  <xacro:include filename="gazebo_config.xacro" />


  <!-- ====================LiDAR SANNER=================== -->
  <xacro:include filename="lidar.xacro" />

  <!-- ====================CAMERA=================== -->
  <!-- <xacro:include filename="camera.xacro" /> -->

</robot>