<?xml version="1.0"?>
<robot name="bicycle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro
        name="support_leg" params="prefix reflect">
        <link name="link_${prefix}_support_leg">
            <!-- Inertial -->
            <xacro:param_inertial xyz="0 0 0" rpy="0 0 0" m="0.5"
                ixx="0.166667" ixy="0" ixz="0" iyy="0.166667" iyz="0" izz="0.166667" />
            <!-- Visual -->
            <xacro:param_visual xyz="${reflect*0.215} ${-reflect*0.018} ${-0.12}"
                rpy="${-PI/2} 0 ${reflect*PI/2}" stl="link_${prefix}_support_leg"
                r="0" g="0" b="0" a="1" />
            <!-- Collision -->
            <xacro:param_collision xyz="${reflect*0.215} ${-reflect*0.018} ${-0.12}"
                rpy="1.57 ${PI} ${-reflect*PI/2}" stl="link_${prefix}_support_leg" />
        </link>
    </xacro:macro>

    <xacro:macro
        name="support_wheel_axis" params="prefix reflect">
        <link name="link_${prefix}_support_wheel_axis">
            <!-- Inertial -->
            <xacro:param_inertial xyz="0 0 0" rpy="3.14159 1.55159 3.14159" m="0.5"
                ixx="0.166667" ixy="0" ixz="0" iyy="0.166667" iyz="0" izz="0.166667" />
            <!-- Visual -->
            <!-- TODO: Make sure it fits with support wheels-->
            <xacro:param_visual xyz="${reflect*0.035} 0 0" rpy="0 ${-reflect*PI/2} 0"
                stl="link_${prefix}_support_wheel_axis"
                r="0" g="0" b="0" a="1" />
            <!-- Collision -->
            <xacro:param_collision xyz="${reflect*0.035} 0 0" rpy="0 ${-reflect*PI/2} 0"
                stl="link_${prefix}_support_wheel_axis" />
        </link>
    </xacro:macro>

    <xacro:macro
        name="support_wheel" params="prefix reflect z">
        <link name="link_${prefix}_support_wheel">
            <!-- Inertial -->
            <xacro:param_inertial xyz="0 0 0" rpy="0 0 0" m="1"
                ixx="0.166667" ixy="0" ixz="0" iyy="0.166667" iyz="0" izz="0.166667" />
            <!-- Visual -->
            <xacro:param_visual xyz="${reflect*0.035} 0 0" rpy="0 0 ${z*PI}"
                stl="link_${prefix}_support_wheel"
                r="255" g="255" b="255" a="1" />
            <!-- Collision -->
            <xacro:param_collision xyz="${reflect*0.035} 0 0" rpy="0 0 ${z*PI}"
                stl="link_${prefix}_support_wheel" />
        </link>
    </xacro:macro>

</robot>