<?xml version="1.0"?>
<robot name="bicycle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="param_geometry" params="stl">
        <geometry>
            <mesh filename="package://${pkg_name}/meshes/${stl}.stl" />
        </geometry>
    </xacro:macro>

    <xacro:macro name="default_material">
        <material name="default_color">
            <color rgba="${48/255} ${213/255} ${200/255} 1" />
        </material>
    </xacro:macro>

    <xacro:macro name="param_material" params="r g b a">
        <material name="param_color">
            <!-- TODO: Fix the color issue -->
            <!-- *FIXED: It turned out the problem was Gazebo, not RViz? -->
            <color rgba="${r/255} ${g/255} ${b/255} ${a}" />
        </material>
    </xacro:macro>

    <xacro:macro name="param_inertial" params="xyz rpy m ixx ixy ixz iyy iyz izz">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}"
                iyy="${iyy}" iyz="${iyz}"
                izz="${izz}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="param_visual_default"
        params="xyz rpy stl">
        <visual>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <xacro:param_geometry stl="${stl}" />
            <xacro:default_material />
        </visual>
    </xacro:macro>

    <xacro:macro name="param_visual"
        params="xyz rpy stl r g b a">
        <visual>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <xacro:param_geometry stl="${stl}" />
            <xacro:param_material r="${r}" g="${g}" b="${b}" a="${a}" />
        </visual>
    </xacro:macro>

    <xacro:macro name="param_collision" params="xyz rpy stl">
        <collision>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <xacro:param_geometry stl="${stl}" />
        </collision>
    </xacro:macro>
</robot>