<?xml version="1.0"?>
<robot name="bicycle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- TODO: teleop_twist_keyboard for bicycle (Teleoperation) -->
    <gazebo>
        <plugin name="bi_drive" filename="bicycle_drive">
            <!-- plugin settings -->

            <!-- front and rear wheel joint -->
            <!-- wheel radius -->
            <!-- axle seperation -->

            <!-- limits -->

            <!-- output -->
            <!-- odom -->
            <!-- robot base link -->
        </plugin>
    </gazebo>
</robot>