<?xml version="1.0"?>
<robot name="bicycle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- TODO: Naming convention? -->
    <!-- lidar_base_link -->
    <link name="lidar_base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 1.5707" />
            <geometry>
                <box size="0.1 0.1 0.001" />
            </geometry>
        </visual>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.1" />
            <!-- TODO: What's this? -->
            <box_inertia m="0.01" x="0.05" y="0.05" z="0.001" />
            <inertia
                ixx="1e-6" ixy="0.0" ixz="0.0"
                iyy="1e-6" iyz="0.0"
                izz="1e-6" />
        </inertial>
    </link>

    <!-- link_lidar -->
    <link name="link_lidar">
        <!-- Inertial -->
        <xacro:param_inertial xyz="0 0 0" rpy="0 0 0" m="0.001"
            ixx="0.166667" ixy="0" ixz="0" iyy="0.166667" iyz="0" izz="0.166667" />
        <!-- Visual -->
        <xacro:param_visual xyz="-0.027 0.055 -0.064"
            rpy="0 0 0"
            stl="lidar"
            r="0" g="0" b="0" a="1" />
        <!-- Collision -->
        <!-- TODO: -0.027 and -0.037 -->
        <xacro:param_collision xyz="-0.037 0.055 -0.064" rpy="0 0 0" stl="lidar" />
    </link>

    <gazebo reference="link_lidar">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="lidar_base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- frame_lidar_joint -->
    <xacro:fixed_joint name="frame_lidar_joint"
        parent="link_frame"
        child="lidar_base_link"
        xyz="0 0.41 0.25"
        rpy="0 0 0" />

    <!-- base_lidar_joint -->
    <xacro:fixed_joint name="base_lidar_joint"
        parent="lidar_base_link"
        child="link_lidar"
        xyz="-.02 0 0.04"
        rpy="0 0 1.57" />

    <!-- link_lidar plugin -->
    <gazebo reference="link_lidar">
        <sensor name="laser" type="ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.5</min_angle>
                        <max_angle>1.5</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.5</min>
                    <max>10</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=bicycle/scan </argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frameName>link_lidar</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>