<?xml version="1.0"?>
<robot name="bicycle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- TODO: teleop_twist_keyboard for bicycle (Teleoperation)? -->
    <!-- Hardware Interface -->
    <!-- type="sensor" "actuator" -->
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin> gazebo_ros2_control/GazeboSystem </plugin>
        </hardware>

        <joint name="joint_frame_back_wheel">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">+10</param>
            </command_interface>

            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>

        <joint name="joint_frame_head_tube">
            <command_interface name="position">
                <param name="min">-10</param>
                <param name="max">+10</param>
            </command_interface>

            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
    </ros2_control>

    <gazebo>
        <!-- This plugins has its own controller manager. -->
        <!-- No need to run 'ros2 rusn controller_manager ros2_control_node' -->
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>
                $(find bicycle_sim)/config/bi_controllers.yaml
            </parameters>
        </plugin>
    </gazebo>
</robot>